.edit-pet {
  display: flex;
}
.file-upload-container img {
  max-width: 10rem;
  border-radius: 50%;
}
.edit-pet-header {
  text-align: center;
  margin-top: 3rem;
  font-size: 2.5rem;
  font-weight: 600;
}
.edit-pet-header .pet-name {
  color: var(--primary);
}
