.sidebar {
  background-color: var(--primary);
  height: 100vh;
  padding-top: 4rem;
}

.list li img {
  width: 3rem;
}
.logo-main {
  max-width: 10rem;
  margin-left: 3rem;
  margin-bottom: 5rem;
}
.list {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  gap: 5rem;
  margin-left: 2rem;
}
.list li {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 2rem;
  font-weight: 600;
  cursor: pointer;
  color: white;
}
.list li:hover {
  color: black;
}
