.add-product {
  display: flex;
}
.add-product-form {
  display: flex;

  flex-wrap: wrap;
  max-width: 70%;
  margin: 0 auto;
  gap: 2rem;
  margin-top: 10rem;
}

.add-product-form .input-group {
  flex: 1 1 34rem; /* Grow to fill space, but don't shrink below 340px */
  display: flex;
  flex-direction: column;
}

.add-product-form .input-group label {
  margin-bottom: 1rem;
  font-size: 2rem;
  color: var(--primary);
}

.add-product-form input[type="text"],
.add-product-form textarea {
  padding: 1rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.add-product-form textarea {
  height: 100px;
  resize: vertical;
}

.add-product-form .status-group {
  flex-basis: 100%;
  display: flex;
  justify-content: space-around;
  padding: 1rem 0;
}
.status-group p,
.file-upload-container label {
  font-size: 2rem;
  color: var(--primary);
  font-weight: 600;
}
.add-product-form .status-group label {
  font-size: 1.5rem;
}

.add-product-form .file-upload-container {
  flex-basis: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.add-product-form button {
  padding: 1rem 2rem;
  background-color: var(--primary);
}

.add-product-form button:hover {
  opacity: 0.9;
}
