.section-header-img {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10rem;
  min-height: 90vh;
  z-index: -5;
  max-height: 90vh;
}
.section-header-img img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
