.admin-chat {
  display: flex;
  height: 100vh;
  background-color: #f4f7f6;
  width: 100%;
}

.user-selector {
  min-width: 250px;
  border-right: 1px solid #ddd;
  background-color: white;
  overflow-y: auto;
}

.user-selector button {
  width: 100%;
  padding: 10px 20px;
  text-align: left;
  border: none;
  background-color: white;
  cursor: pointer;
  border-bottom: 1px solid #f0f0f0;
}

.user-selector button:hover {
  background-color: #f8f8f8;
}

.chat {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.chat main {
  flex-grow: 1;
  overflow-y: auto;
  padding: 20px;
  background-color: #f4f7f6;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.message {
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 20px;
  color: white !important;
}

.message.sent {
  background-color: #0d6efd;
  align-self: flex-end;
  width: 30%;
}

.message.received {
  background-color: #6c757d;
  align-self: flex-start;
  width: 30%;
}

/* Message Form */
.chat form {
  display: flex;
  padding: 20px;
  background-color: white;
  border-top: 1px solid #ddd;
}

.chat input {
  flex-grow: 1;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ddd;
  border-radius: 20px;
}

.chat button {
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  background-color: #0d6efd;
  color: white;
  cursor: pointer;
}

.chat button:disabled {
  background-color: #6c757d;
}

.dummy {
  float: left;
  clear: both;
}
.selected-user {
  padding: 10px;
  background-color: #f0f0f0;
  border-bottom: 1px solid #ddd;
}
